@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {

    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body{

        background-color: #16191E;

        color: white;
    }

    img#logo{
        
    width: 14vw;

    display: block;
    padding-top: 5vw;
    margin: auto;
    }

    main{

        background-color: white;
        width: 14vw;

        display: block;
        padding-top: 5vw;
        margin: auto;  
    }

