@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {

    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body{

        background-color: #16191E;

        color: white;
    }

    body > img#logo{
        
    width: 20vh;

    display: block;
    padding-top: 2vh;
    margin: auto;
    }

    body > main > div{

        background-color: #0a0a0a;

        /*Centralização horizontal*/
        width: 30vh;
        height: 40vh;
        margin: auto;

        /*Centralização vertical*/
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        border: 0.5vh solid rgb(255, 255, 255);
        border-radius: 1vw;

        top: 40vh;

    }

    body > main > div > p#login{

        font-size: 3.5vh;
        font-weight: bold;

        padding-left: 2.3vh;
        padding-top: 2vh;
    }

    body > main > div > p.informacoes{

        font-size: 1.5vh;
        font-weight: bold;

        padding-left: 2.3vh;
        padding-top: 2vh;
    }

    body > main > div > input{

        width: 24.5vh;

        /* Centralização horizontal */
        display: block;
        margin: auto;

        padding: 0.5vh;

        border-radius: 0.5vw;
        margin-top: 0.5vw;
    }

    body > main > div > button{

        color: white;
        font-weight: bold;
        font-size: 2vh;
        background-color: #252525;

        /* Centralização horizontal */
        display: block;
        margin: auto;

        border: 0.4vh solid white;
        border-radius: 1.5vh;

        padding: 0.5vh 7.8vh;
        margin-top: 3vh;
    }

    body > main > div > button:hover{

        transition: 0.5s;
        background-color: #0a0a0a;
    }

    body > main > div > p#condicoes_de_uso{

        font-size: 1.5vh;

        margin: 2vh;
    }

    body > main > div > p#condicoes_de_uso > a{

        font-weight: bold;
    }

    body > main > div > p#condicoes_de_uso > a:hover{

        text-decoration-line: underline;
    }

    body > main > p{

        font-size: 1.5vh;

        position: relative;
        top: 45vh;

        /* Centralização horizontal */
        text-align: center;
        margin: auto;

        padding-top: 2vh;
    }

    body > main > a#link{

        color: #0a0a0a;
        text-decoration: none;
    } 

    body > main > a#link > button{

        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 2vh;
        background-color: #ffffff;

        /* Posição do Botão */
        position: relative;
        top: 45vh;

        /* Centralização do Botão */
        display: block;
        margin: auto;

        padding: 0.5vh 7.7vh;
        border: 0.4vh solid #ffffff;
        border-radius: 1.5vh;
        
        margin-top: 2vh;

        cursor: pointer;
    }

    /* Animação do botão */

    body > main > a#link > button:hover{

        transition: 0.25s;

        color: white;
        background-color: #5e5e5e;
        border: 0.4vh solid #5e5e5e;
    }

    body > footer{

        background-color: #0a0a0aab;

        height: 25vh;

        position: relative;
        top: 45vh;

        margin-top: 5vh;
    }

    body > footer> div{

        background-color: #ffffff;

        padding-top: 0.3vh;
    }

    body > footer > p{

        font-size: 1.5vh;
        text-align: center;

        padding-top: 2vh;
    }

    body > footer > p > a{

        color: rgb(255, 255, 255);

        margin: 2vh;
    }

    body > footer > p > a:visited{

        color: white;
    }