@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root{

    --fonte_banner: 'Raleway', sans-serif;
    --fonte_padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

* {

    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

body{

    background: black url(imagens/Fundo-1.png) center center repeat fixed;
}

body > header{

    background-color: rgb(0, 0, 0);
    width: 100%;

    padding-top: 10px;

    /* Seguir a tela*/
    position: sticky;
    top: -1px;
    z-index: 100;
}

body > header > img{

    width: 10%;

    padding-left: 15px;
}

/*Novo teste */

body > header > img#menu{

    float: right;
    
    width: 1.7%;
    filter: brightness(60%);

    padding-right: 3vw;
    padding-top: 1.5vw;

}

body > header > img#menu:hover{

    filter: brightness(100%);

}


/* Teste

body > header > p{

    font-family: var(--fonte_banner);
    font-size: 2.2vw;
    font-weight: bold;
    color: white;

    float: right;
    padding-right: 1vw;
    padding-top: 1.5vw;
}

body > header > p > a{

    text-decoration: none;

    margin-right: 40px;
    padding: 10px;
}

body > header > p > a:visited{

    color: white;
}

body > header > p > a:hover{

    color: rgb(100, 100, 100);
    transition: 0.5s;
}

*/

body > header > div#borda_header{

    padding-bottom: 2px;
    background-color: white;
}

/* Começo do conteúdo principal */

body > main > div{

    height: 40vw;
    width: 100%;
    display: inline-block;
    position: relative;

    background: black center center no-repeat scroll;
    background-size: cover;

}

body > main > div > img{

    width: 30%;
    float: right;

    padding-top: 10vw;
    padding-right: 15%;   
}

body > main > div > p{

    color: white;
    font-family: var(--fonte_banner);
    font-size: 6.8vw;

    padding-top: 14vw;
    padding-left: 8%;
}

#primeira_imagem{

    background-image: url(imagens/Banner_Sobre-Nós.jpg);
}

body > main > div > div{

    background-color: white;

    margin-top: 18vw;
    padding-bottom: 2px;
}

/*Início da 2 parte*/

body > main > h2{

    color: white;

    text-align: center;
    font-family: var(--fonte_banner);
    font-size: 4vw;
    font-weight: bold;

    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0.603);
    text-underline-offset: 1.5vw;

    padding-top: 3vw;
    padding-bottom: 6vw;
    margin: 0 auto;
}

body > main > p#texto{

    font-family: var(--fonte_padrao);
    color: white;
    font-size: 2vw;
    text-align: justify;

    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 2vw;
    margin: auto;
}

body > main > img#primeira{

    width: 30vw;

    padding-top: 1vw;
    padding-left: 13vw;

    position: relative;
}

body > main > h3#direita{

    color: white;
    font-size: 3.5vw;

    float: right;
    margin-right: 13vw;
}

body > main > span#direita{

    color: white;
    font-size: 1.2vw;

    float: right;
    position: absolute;

    margin-top: 6vw;
    margin-left: 10vw;
    width: 32vw;

}

body > main > img#primeira{

    width: 30vw;

    padding-top: 1vw;
    padding-left: 10vw;

    position: relative;
}

body > main > h3#direita{

    color: white;
    font-size: 3.vw;

    float: right;
    margin-right: 13.7vw;
}

body > main > span#direita{

    color: white;
    font-size: 1.2vw;
    text-align: justify;

    float: right;
    position: absolute;

    margin-top: 6vw;
    margin-left: 13vw;
    width: 32vw;

}
body > main > img#segunda{

    width: 30vw;

    position: relative;
    float: right;

    padding-top: 10vw;
    padding-right: 14vw;

}

body > main > h3#esquerda{

    color: white;
    font-size: 3vw;

    float: left;
    margin-left: 8.4vw;
    margin-top: 10vw;
}

body > main > span#esquerda{

    color: white;
    font-size: 1.2vw;
    text-align: justify;

    float: left;
    position: relative;

    margin-top: 2vw;
    margin-left: 10vw;
    width: 32vw;
}

body > main > h2#ajuste{

    padding-top: 47vw;
}

body > main > p > a{

    color: white;
    font-family:var(--fonte_padrao);
    font-size: 2.5vw;
    text-decoration: none;

}

body > main > p > a#esquerda{

    margin-left: 22vw;
}

body > main > p > a#centro{

    margin-left: 15.5vw;
}

body > main > p > a#direita{

    margin-left: 17vw;
}

body > main > span.foda > div.circulo{

    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);

    display: inline-block;
    border: 0.6vw solid #fff;

    margin-top: 2vw;
}

body > main > span.foda > div.circulo > div{

    font-size: 5vw;

    padding: 3.5vw 4.3vw;
}

body > main > span.foda > div#esquerda{

    margin-left: 18vw;
}

body > main > span.foda > div#centro{

    margin-left: 7vw;
}

body > main > span.foda > div#direita{

    margin-left: 7.7vw;
}

body > main > span.foda > div.circulo > div#ajustar{

    padding-left: 5.5vw;
}

body > main > span.foda > div.circulo:hover{

    background-color: rgb(10, 10, 10);
    transition: 0.5s;
}

body > main > button{

    background-color: rgb(37, 37, 37); 
    color: white;
    border-radius: 5px;
    cursor: pointer;

    text-align: center;
    font-size: 2.5vw;

    display: block;
    margin: auto;

    border: 0.3vw solid #fff;
    margin-top: 4vw;
    margin-bottom: 2vw;
    padding: 10px 20px;
}

body > main > button:hover{

    background-color: rgb(10, 10, 10);
    transition: 0.5s;
}

body > main > div#borda{

    height: 0px;
    background-color: white;

    padding-bottom: 2px;
}

/* Finalização da Main */

body > footer {

    background-color: rgb(0, 0, 0);
    width: 100%;

    padding-top: 2vw;
}

body > footer > img{

    width: 30vw;

    display: block;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

body > footer > p{

    color: white;

    text-align: center;
    font-size: 1.8vw;
    text-decoration-line: none;

    margin-bottom: 2vw;
}

body > footer > p > a{

    font-weight: bolder;
}

body > footer > p > a:visited{

    text-decoration-color: black;
    color: white;
}

body > footer > span{

    margin-top: 5vw;
    margin-left: 44.8vw;
}


body > footer > span > img.icon{

    width: 2.8vw;
    filter: brightness(50%);

    margin-left: 1vw;

    margin-bottom: 2vw;
}

body > footer > span > img.icon:hover{

    filter: brightness(100%);
    transition: 0.5s;
}