@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

    :root{

        --fonte_banner: 'Raleway', sans-serif;
        --fonte_padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    }

    * {

        padding: 0px;
        margin: 0px;
        border: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body{

        background: black url(../imagens/Fundo-1.png) center center repeat fixed;
    }

    body > header{

        background-color: rgb(0, 0, 0);
        width: 100%;

        display: flex;

        /* Seguir a tela*/
        position: sticky;
        top: -1px;
        z-index: 100;

        padding: 10px 0px 5px 0px;
        border-bottom: 1px solid white;
    }

    body > header > img{

        width: 120px;
        
        display: flex;

        margin: 0px 10px 0px 10px;
    }

    body > header > div {

        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 

    body > header > div > a{

        color: white;
        font-size: 20px;
        text-decoration: none;

        margin: 0px 35px 0px 35px;
    }

    body > header > div > a > button{

        background-color: black;
        color: white;
        border-radius: 10px;

        font-size: 18px;
        text-decoration: none;
        font-weight: bold;

        cursor: pointer;

        padding: 5px 10px 5px 10px;
        border: 2px solid white;
        margin: 0px 70px 0px 0px;
    }

    body > header > div > a.item_menu:hover{

        filter: brightness(60%);
        transition: 0.25s;
    }

    body > header > div > a#botao > button:hover{

        background-color: white;
        color: black;
        transition: 0.25s;
    }

    body > header > menu {

        display: none;
    } 

    body > header > div#mobile {

        display: none;
    } 

    /* Começo do conteúdo principal */

    /* Início banner */

    body > section{

        height: 27vw;
        width: 100%;
        display: inline-block;
        position: relative;

        background: black center center no-repeat scroll;
        background-size: cover;

        border-bottom: 1px solid white;
    }

    #primeira_imagem{

        background-image: url(../imagens/banner.png);
    }

    /* Fim do Banner e começo do conteúdo*/

    body > main > h2{

        color: white;

        text-align: left;
        font-family: var(--fonte_banner);
        font-size: 30px;
        font-weight: bold;

        text-decoration-line: underline;
        text-decoration-color: rgba(255, 255, 255, 0.603);
        text-underline-offset: 5px;

        margin: 30px 0px 50px 80px;
    }

    body > main > section#livros{

        display: flex;
        justify-content: space-around;

        margin: 0px 80px 0px 80px;
    }

    body > main > section#livros > div{

        display: flex;
        flex-direction: column;

        background-color: #101113;

        padding: 20px 30px;

        border: 2px solid white;
        border-radius: 10px;
    }

    
    body > main > section#livros > div > img{

        width: 100px;
        height: 150px;

        border: 1px solid white;
        margin-bottom: 10px;
    }

    body > main > section#livros > div > img:hover{

        transition: 0.25s;
        transform: scale(1.1);
    }

    body > main > section#livros > div > div > p.titulo{

        display: table-caption;

        color: #007185;
        font-weight: bold;
        font-size: 18px;

        margin-bottom: 5px;
    }

    body > main > section#livros > div > div > p.titulo:hover{

        color: #C7511F;
    }

    body > main > section#livros > div > div > p.autor{

        color: white;
        font-size: 10px;

        margin-bottom: 5px;
    }

    body > main > section#livros > div > div > p.preco{

        color: white;
        font-size: 16px;
    }

    /* Finalização do Conteúdo Principal e começo do Footer */

    body > footer {

        background-color: black;
        width: 100%;

        padding: 10px 0px 20px 0px;
        border-top: 1px solid white;
        margin-top: 40px;
    }

    body > footer > img{

        width: 150px;

        display: block;
        margin: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    body > footer > p#criador{

        color: white;

        text-align: center;
        font-size: 15px;
        text-decoration-line: none;

        margin-bottom: 15px;
    }

    body > footer > p#criador > a:visited{

        text-decoration-color: black;
        color: white;
    }

    body > footer > span{

        margin-top: 5vw;
        margin-left: 44.8vw;
    }

    body > footer > p.links_importantes{

        color: white;

        font-size: 12px;
        text-align: center;

        margin: 10px 0px 20px 0px;
    }

    body > footer > p.links_importantes > a{

        color: white;
        text-decoration: none;

        margin: 0px 20px 0px 20px;
    }

    body > footer > p.links_importantes > a:visited{

        color: white;
    }

    body > footer > p.links_importantes > a:hover{

        text-decoration-line: underline;
    }