@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

    :root{

        --fonte_banner: 'Raleway', sans-serif;
        --fonte_padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    }

    * {

        padding: 0px;
        margin: 0px;
        border: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body{

        background: black url(../imagens/Fundo-1.png) center center repeat fixed;
    }

    body > header{

        background-color: rgb(0, 0, 0);
        width: 100%;

        display: flex;

        /* Seguir a tela*/
        position: sticky;
        top: -1px;
        z-index: 100;

        padding: 10px 0px 5px 0px;
        border-bottom: 1px solid white;
    }

    body > header > img{

        width: 120px;
        
        display: flex;

        margin: 0px 10px 0px 10px;
    }

    body > header > div {

        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 

    body > header > div > a{

        color: white;
        font-size: 20px;
        text-decoration: none;

        margin: 0px 35px 0px 35px;
    }

    body > header > div > a > button{

        background-color: black;
        color: white;
        border-radius: 10px;

        font-size: 18px;
        text-decoration: none;
        font-weight: bold;

        cursor: pointer;

        padding: 5px 10px 5px 10px;
        border: 2px solid white;
        margin: 0px 70px 0px 0px;
    }

    body > header > div > a.item_menu:hover{

        filter: brightness(60%);
        transition: 0.25s;
    }

    body > header > div > a#botao > button:hover{

        background-color: white;
        color: black;
        transition: 0.25s;
    }

    /* Começo do conteúdo principal */

    /* Início banner */

    body > section{

        height: 40vw;
        width: 100%;
        display: inline-block;
        position: relative;

        background: black center center no-repeat scroll;
        background-size: cover;

        border-bottom: 1px solid white;

    }

    body > section > img{

        width: 30%;
        float: right;

        padding-top: 10vw;
        padding-right: 15%;   
    }

    body > section > p{

        color: white;
        font-family: var(--fonte_banner);
        font-size: 6.8vw;

        padding-top: 14vw;
        padding-left: 8%;
    }

    #primeira_imagem{

        background-image: url(../imagens/Banner_Sobre-Nós.jpg);
    }

    /* Fim do Banner e começo do conteúdo*/

    body > main > h2{

        color: white;

        text-align: center;
        font-family: var(--fonte_banner);
        font-size: 40px;
        font-weight: bold;

        text-decoration-line: underline;
        text-decoration-color: rgba(255, 255, 255, 0.603);
        text-underline-offset: 5px;

        margin-top: 30px;
        margin-bottom: 50px;
    }

    body > main > p#texto{

        font-family: var(--fonte_padrao);
        color: white;

        text-align: justify;
        line-height: 25px;
        
        padding: 0px 80px 0px 80px;
        margin: auto;
    }

    body > main > div#container{

        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;

        margin: 0px 80px 0px 80px;
    }

    body > main > div#container > div{

        display: grid;
        align-items: center;
        justify-items: center;
    }

    body > main > div#container > div > img{

        width: 250px;

        border: 2px solid white;
    }

    body > main > div#container > div.nao-centralizado{

        display: grid;
        align-items: start;
    }

    body > main > div#container > div.nao-centralizado > h3{

        color: white;
        font-size: 30px;

        margin-top: 10px;    
        margin-bottom: 10px;
    }

    body > main > div#container > div.nao-centralizado > p{

        color: white;

        text-align: justify;

        margin: 0px 20px 0px 20px;
    }

    body > main > div#container2{

        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;

        margin: 0px 80px 0px 80px;
    }

    body > main > div#container2 > div{

        color: white;
        font-family:var(--fonte_padrao);
        font-size: 30px;
        text-decoration: none;
    }


    body > main > div#container2 > div.circulo{

        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);

        display: grid;
        justify-items: center;
        align-items: center;

        border: 0.6vw solid #fff;
        margin-top: 2vw;
    }

    body > main > div#container2 > div.circulo > i{

        font-size: 9vw;

        margin-bottom: 3px;
    }

    body > main > div#container2 > div.circulo > i#item_2{

        font-size: 9.5vw;

        margin: 0px 0px 6px 4px;
    }

    body > main > div#container2 > div.circulo:hover > i#cor_1{

        color: lightblue;
        transition: 0.25s;
    }

    body > main > div#container2 > div.circulo:hover > i#cor_2{

        color: lightgreen;
        transition: 0.25s;
    }

    body > main > div#container2 > div.circulo:hover > i#cor_3{

        color: lightcoral;
        transition: 0.25s;
    }

    body > main > button{

        background-color: rgb(37, 37, 37); 
        color: white;
        border-radius: 5px;
        cursor: pointer;

        text-align: center;
        font-size: 2.5vw;

        display: block;
        margin: auto;

        border: 0.3vw solid #fff;
        margin-top: 4vw;
        margin-bottom: 2vw;
        padding: 10px 20px;
    }

    body > main > button:hover{

        background-color: rgb(10, 10, 10);
        transition: 0.5s;
    }

    /* Finalização do Conteúdo Principal e começo do Footer */

    body > footer {

        background-color: black;
        width: 100%;

        padding: 10px 0px 20px 0px;
        border-top: 1px solid white;
    }

    body > footer > img{

        width: 150px;

        display: block;
        margin: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    body > footer > p#criador{

        color: white;

        text-align: center;
        font-size: 15px;
        text-decoration-line: none;

        margin-bottom: 15px;
    }

    body > footer > p#criador > a:visited{

        text-decoration-color: black;
        color: white;
    }

    body > footer > span{

        margin-top: 5vw;
        margin-left: 44.8vw;
    }

    body > footer > p.links_importantes{

        color: white;

        font-size: 12px;
        text-align: center;

        margin-top: 10px;
    }

    body > footer > p.links_importantes > a{

        color: white;
        text-decoration: none;
    }

    body > footer > p.links_importantes > a:visited{

        color: white;
    }

    body > footer > p.links_importantes > a:hover{

        text-decoration-line: underline;
    }